*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    font-family: "Roboto", sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 2rem;
}

#desktop{
    background-color: #121214;
    padding: 2rem 0rem;
}

.wrappper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav{
    display: flex;
    gap: 3rem;
}
.nav-child{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.header-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.tel{
    display: flex;
    gap: 7px;
    align-items: center;
}

.phone .nav-child{
    color: #8C8F96;
}

.nav-child:hover{
    cursor: pointer;
    color: orangered;
}

.header-right{
    color: white;
}

.header-right svg:hover{
    cursor: pointer;
    color: orangered;
}

select{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

option{
    background-color: #121214;
}



select:hover{
    cursor: pointer;
    color: orangered;
}


#desktop{
    display: flex;
}

#mobile{
    display: none;
    background-color: #121214;
    padding: 2rem 0rem;
}

#mobile-nav{
    display: none;
}


#open{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    width: 84px;
}

.son{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.swiper{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.swiper-slide{
    background-image: url(./assets/rotateddd.jpg);
    overflow: hidden;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5.625rem;
    height: 100%;
}
.swiper-wrapper{
    margin-top: 4rem;
    margin-top: 4rem;
}

.main-sarlavha{
    font-size: 	3.1875rem;
    font-weight: 900;
    color: #171819;
    text-transform: uppercase;
    line-height: 63px;
}
.matn{
    color: #121214;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
}

.general-btn{
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: #121214;
    border: 2px solid #121214;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.general-btn:hover{
    background-color: transparent;
    color: #121214;
    background-color: white;
    border-color: transparent;
}

.wrapper-chev{
    padding: 1rem;
    width: 67px;
    height: 67px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.wrapper-next{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.wrapper-hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    width: 40%;
}


.swiper-button-prev::after{
    color: white;
}


.swiper-button-next::after{
    color: white;
}

.wrapper-chev:hover{
    background-color: #121214;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.swiper-pagination::after{
    background-color: white;
}


#second{
    background-image: url(https://wallpaperaccess.com/full/1448067.jpg);
}

#third{
    background-image: url(https://wallpaperaccess.com/full/6747406.jpg);
}

.shoes-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}
.shoes{
    margin-top: 6rem;
}

.secondary-header{
    color: #121214;
    font-size: 2rem;
    font-weight: 900;
}
.link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 6px;
    text-decoration: none;
    border-bottom: 2px solid #000000;
}

.link:hover{
    color: orangered;
    cursor: pointer;
    border-color: orangered;
}

.wrap-img{
    position: relative;
    overflow: hidden;
    max-height: 318px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.svg:hover{
    color: red;
    cursor: pointer;
}

.shoe-sarlavha{
    font-size: 19px;
    color: #000000;
    text-transform: uppercase;
}

.shoe-span{
    color: #3C3C3C;
}

.shoe{
    width: 23%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.rasm{
    width: 100%;
}

.rasm:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.wrapper-shoe{
    display: flex;
    justify-content: space-between;
}

.wrap-arr{
    max-width: 265px;
    margin: 0 auto;
    align-items: center;
    gap: 2.2rem;
    display: flex;
    margin-top: 3rem;
}
.aylana-smaller{
    width: 10px;
    height: 10px;
    background-color: #121214;
    border-radius: 50%;
    padding: 5px;
}
.smallest{
    width: 6px;
    height: 6px;
    background-color: #121214;
    border-radius: 50%;
    opacity: 70%;
    padding: 3px;
}

.container2{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0rem 1rem;
}

.phone{
    background: linear-gradient(to right, #0D99F8, #21A0F8, #54B5FF, #0DBBF8, #0DDBF8);
    border-radius: 7px;
    position: relative;
}

.phone-left{
    width: 65%;
    display: flex;
    padding-left: 3rem;
    flex-direction: column;
    gap: 1.3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.phone-right{
    width: 30%;
}

.phone .main-sarlavha{
    color: #FFFFFF;
}
.phone .matn{
    line-height: 32px;
    font-size: 19px;
    text-transform: uppercase;
    color: white;
}

.one div{
    font-size: 1.5rem;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.2rem 2rem;
    width: 77px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-matn{
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    color: white;
}

.one{
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.ora{
    display: flex;
    gap: 3rem;
    align-items: center;
}


.phone-left .wrapper-btn{
    margin-top: 1rem;
}


.im{
    width: 150%;
}


.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  
    margin-top: 6rem;  
    margin-bottom: -10rem;
}

.phone-right{
    position: absolute;
    top: -18%;
    right: 10%;
}


.forth{
    background-color: #f4f5f6;
}


.forth-sarlavha{
    font-size: 2.5rem;
    color: #121214;
    line-height: 48px;
    font-weight: 900;
}

.forth-matn{
    font-size: 1rem;
    color: #303030;
    line-height: 30px;
}
.forth-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65%;
}
.forth-right{
    width: 30%;
}

.wrapper-forth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12rem;
    padding-bottom: 6rem;
}

.forth-right{
    padding: 2.3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    border-radius: 5px;
}

.bir-sar{
    font-size: 13px;
    text-transform: uppercase;
    color: #121214;
    font-weight: 900;
}

.bir-matn{
    font-size: 14px;
    color: #303030;
    font-weight: 400;
    line-height: 20px;
    margin-top: 4px;
}

.bir{
    display: flex;
    gap: 1.7rem;
}


#last .shoe{
    width: 32%;
    gap: 13px;
}

#last .shoe-sarlavha{
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
}

#last .shoe-span{
    font-size: 15px;
    color: #303030;
    line-height: 25px;
    font-weight: normal;
}


.m{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
}


footer{
    background-color: #121214;
    padding: 3rem 0;
    margin-top: 5rem;
}



.footer-sarlavha{
    font-size: 15px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-link{
    font-size: 15px;
    color: #DCDCE0;
    text-decoration: none;
}

.footer-child{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1300px){
    .im{
        width: 100%;
    }

    .phone-right{
        top: 0;
        right: 5%;
    }
}




@media (max-width: 1000px){
    .phone{
        display: flex;
        flex-direction: column;
        padding-left: 0rem;
        padding-right: 2rem;
        gap: 1rem;
    }
    .phone-left{
        width: 100%;
    }
    .phone-right{
        width: 100%;
        position: unset;
    }
    .phone-left{
        padding-bottom: 0;
    }
}




@media (max-width: 768px){
    #desktop{
        display: none;
    }

    #mobile{
        display: flex;
    }

    .wrapper-hero{
        max-width: 768px;
        padding: 0rem 1rem;
        margin: 0 auto;
        background-position: right;
        padding-top: 4rem;
        width: 100%;
        height: 90vh;
    }


    .main-sarlavha{
        font-size: 3rem;
        line-height: 54px;
    }

    .swiper-slide{
        width: 100%;
    }

    .wrapper-hero-content{
        width: 50%;
    }
    .swiper-slide{
        padding: 2rem 1rem;
    }
    .swiper-wrapper{
        margin-top: 2rem;
    }
    .swiper{
        height: 100vh;
        background-position: center;
    }

    .shoe{
        width: 43%;
        margin-top: 2rem;
    }
    .wrapper-shoe{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main-sarlavha{
        font-size: 2.2rem;
        line-height: 43px;
    }
    .swiper-slide{
        background-position: center;
    }
    .wrapper-forth{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .forth-left{
        width: 100%;
    }
    .forth-right{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bir{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .ora{
        flex-wrap: wrap;
    }
    #last .shoe{
        width: 48%;
    }
    #last .wrapper-shoe{
        flex-wrap: wrap;
    }

    


}



@media (max-width: 500px){
    .wrapper-hero-content{
        width: 100%;
    }
    .shoe{
        width: 45%;
    }
    .main-sarlavha{
        font-size: 1.7rem;
        list-style: 31px;
    }
    .swiper-slide{
        background-position: center;
    }
    .forth-right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bir{
        display: flex;
        flex-direction: row;
    }
    #last .shoe{
        width: 100%;
    }
}
