*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0rem 2rem;
}

#desktop{
    background-color: #121214;
    padding: 2rem 0rem;
}

.wrappper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav{
    display: flex;
    gap: 3rem;
}
.nav-child{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.header-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.phone{
    display: flex;
    gap: 7px;
    align-items: center;
}

.phone .nav-child{
    color: #8C8F96;
}

.nav-child:hover{
    cursor: pointer;
    color: orangered;
}

.header-right{
    color: white;
}

.header-right svg:hover{
    cursor: pointer;
    color: orangered;
}

select{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
}

option{
    background-color: #121214;
}



select:hover{
    cursor: pointer;
    color: orangered;
}


#desktop{
    display: flex;
}

#mobile{
    display: none;
    background-color: #121214;
    padding: 2rem 0rem;
}

#mobile-nav{
    display: none;
}


#open{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo{
    width: 84px;
}

.son{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.swiper{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    height: 80vh;
}

.swiper-slide{
    background-image: url(./assets/rotateddd.jpg);
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5.625rem;
    height: 100%;
}
.swiper-wrapper{
    margin-top: 4rem;
    margin-top: 4rem;
}

.main-sarlavha{
    font-size: 	3.1875rem;
    font-weight: 900;
    color: #171819;
    text-transform: uppercase;
    line-height: 63px;
}
.matn{
    color: #121214;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
}

.general-btn{
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 1.2rem 2rem;
    background-color: #121214;
    border: 2px solid #121214;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.general-btn:hover{
    background-color: transparent;
    color: #121214;
    background-color: white;
    border-color: transparent;
}

.wrapper-chev{
    padding: 1rem;
    width: 67px;
    height: 67px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.wrapper-next{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.wrapper-hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: flex-start;
    max-width: 40%;
}


.swiper-button-prev::after{
    color: white;
}


.swiper-button-next::after{
    color: white;
}

.wrapper-chev:hover{
    background-color: #121214;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

.swiper-pagination::after{
    background-color: white;
}







@media (max-width: 768px){
    #desktop{
        display: none;
    }

    #mobile{
        display: flex;
    }

    .wrapper-hero{
        max-width: 768px;
        padding: 0rem 1rem;
        margin: 0 auto;
        background-position: right;
        padding-top: 4rem;
        width: 100%;
        height: 90vh;
    }


    .main-sarlavha{
        font-size: 3rem;
        line-height: 54px;
    }




}

